
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderAction("TRPartialSliderList", "Anasayfa");
}

<!-- Services section  -->
@{
    Html.RenderAction("TRPartialServiceList", "Anasayfa");
}
<!-- Services section end  -->
<!-- About section  -->
@{
    Html.RenderAction("TRPartialAbout", "Anasayfa");
}
<!-- About section end  -->
<!-- Portfolio section  -->
<div class="icerik mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="services-item">
                                <img src="~/Content/Site/cubes.png" width="75" />
                                <h4 class="baslik" title="Kaliteli ve Özgün İşler">Kaliteli ve Özgün İşler</h4>
                                <p class="aciklama" title="Sektörünüze dair yenilikçi olmayan her iş, sıradan görünmeye mahkumdur. Sıradanlıktan sıyrılarak, küçük-büyük demeden yaptığı her işte fark ve yenilik  yaratmayı kendine amaç edinmiş yaratıcı kadromuz başarının anahtarının özgünlük olduğunu bilerek size hizmet veriyor.">
                                    Sektörünüze dair yenilikçi olmayan her iş, sıradan görünmeye mahkumdur.
                                    Sıradanlıktan sıyrılarak, küçük-büyük demeden yaptığı her işte fark ve yenilik  yaratmayı kendine amaç edinmiş yaratıcı kadromuz başarının anahtarının özgünlük olduğunu bilerek size hizmet veriyor.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-item">
                                <img src="~/Content/Site/users-icon.png" width="75" />
                                <h4 class="baslik" title="Uzman Kadro">Uzman Kadro</h4>
                                <p class="aciklama" title="Yetkin ve uzman kadro sektörde başarı getirir.
                                    Dijital dünyanın ortaya çıkışından itibaren iş bilincinde olan ve dijital dünyayı yöneten etkin kadromuz, bu bilgi birikimini Influencer Ajans'ın müşterileri için kullanıyor.">Yetkin ve uzman kadro sektörde başarı getirir.
                                    Dijital dünyanın ortaya çıkışından itibaren iş bilincinde olan ve dijital dünyayı yöneten etkin kadromuz, bu bilgi birikimini Influencer Ajans'ın müşterileri için kullanıyor.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-item">
                                <img src="~/Content/Site/barchart.png" width="75" />
                                <h4 class="baslik" title="Analitik Düşünce Yapısı">Anatilik Düşünce Yapısı</h4>
                                <p class="aciklama" title="Rakamlar çoğu zaman kelimelerden daha çok şey ifade ettiğini biliyor musunuz? 
Dijital dünyanın rakamların çevresinde oluştuğunu biliyor ve analitik bilgiler dahilinde sizlere sunum yapıyoruz.
Ay bazında karşılaştırma yapmanızı mümkün hale getirecek bu raporlama size dijital dünyadaki konumunuzu gösterecek.">
                                    Rakamlar çoğu zaman kelimelerden daha çok şey ifade ettiğini biliyor musunuz?
                                    Dijital dünyanın rakamların çevresinde oluştuğunu biliyor ve analitik bilgiler dahilinde sizlere sunum yapıyoruz.
                                    Ay bazında karşılaştırma yapmanızı mümkün hale getirecek bu raporlama size dijital dünyadaki konumunuzu gösterecek.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderAction("TRPartialOurSolitionPartnerList", "Anasayfa");
}
<!-- Portfolio section end  -->
