
@{
    ViewBag.Title = "EN";
    Layout = "~/Views/Shared/En/_Layout.cshtml";
}
<div class="clearfix"></div>
<!-- Header section end  -->
@{
    Html.RenderAction("ENPartialBlogCategory", "Bloglar");
}