@model Influencer.Entities.Entity.Contact
<div class="contact-text">
    <h3 title="Influencer Ajans">Influencer Agency</h3>
    <p title="Advertising Agency | Digital Marketing Agency | Social Media Agency We combine our young, dynamic and expert departments with our 17 experience and offer you all the services on digital platforms using our professional infrastructure.">Advertising Agency | Digital Marketing Agency | Social Media Agency We combine our young, dynamic and expert departments with our 17 experience and offer you all the services on digital platforms using our professional infrastructure.</p>
    <ul>
        <li title="@Model.Address"><a href="http://maps.google.com/?q=@Model.Address" target="_blank" title="">@Model.Address</a></li>
        <li><a href="tel:@Model.Phone" title="@Model.Phone"><i class="fa fa-phone"></i> Influencer Agency Phone</a></li>
        <li><a href="mailto:@Model.EMail" title="@Model.EMail"><i class="fa fa-envelope"></i> Influencer Agency Mail</a></li>
    </ul>
</div>
