@model Influencer.Entities.Entity.Contact
<div class="contact-text">
    <h3 title="Influencer Ajans">Influencer Ajans</h3>
    <p title="Reklam Ajansı | Dijital Pazarlama Ajansı | Sosyal Medya Ajansı Genç, dinamik ve alanında uzman ekibimizle 17 yıllık tecrübemizi birleştiriyor ve profesyonel altyapımızı kullanarak sizlere dijital platformlarda ihtiyacınız olan tüm hizmetleri sunuyoruz.">Reklam Ajansı | Dijital Pazarlama Ajansı | Sosyal Medya Ajansı Genç, dinamik ve alanında uzman ekibimizle 17 yıllık tecrübemizi birleştiriyor ve profesyonel altyapımızı kullanarak sizlere dijital platformlarda ihtiyacınız olan tüm hizmetleri sunuyoruz.</p>
    <ul>
        <li title="@Model.Address">@Model.Address</li>
        <li><a href="tel:@Model.Phone" title="@Model.Phone"><i class="fa fa-phone"></i> Influencer Ajans Telefon</a></li>
        <li><a href="mailto:@Model.EMail" title="@Model.EMail"><i class="fa fa-envelope"></i> Influencer Ajans Mail</a></li>2
    </ul>
</div>
