
@{
    ViewBag.Title = "Influencerlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Blog section  -->
<section class="blog-section">
    <div class="blog-warp">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="~/Content/Site/img/blog/1.jpg" alt="">
                    <h3>10 Tips for a great shot</h3>
                    <div class="blog-cata">
                        <span><i class="fa fa-instagram"></i> <i class="fa fa-user-plus"></i> </span>
                        <span><i class="fa fa-twitter"></i> <i class="fa fa-user-plus"></i></span>
                        <span><i class="fa fa-facebook"></i> <i class="fa fa-user-plus"></i></span>
                    </div>
                    <a href="" class="site-btn">Devamını Gör <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="~/Content/Site/img/blog/2.jpg" alt="">
                    <h3>Photography cousrses 101</h3>
                    <div class="blog-cata">
                        <span><i class="fa fa-instagram"></i> <i class="fa fa-user-plus"></i> </span>
                        <span><i class="fa fa-twitter"></i> <i class="fa fa-user-plus"></i></span>
                        <span><i class="fa fa-facebook"></i> <i class="fa fa-user-plus"></i></span>
                    </div>
                    <a href="" class="site-btn">Devamını Gör <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="~/Content/Site/img/blog/3.jpg" alt="">
                    <h3>New Lifestyle event</h3>
                    <div class="blog-cata">
                        <span><i class="fa fa-instagram"></i> <i class="fa fa-user-plus"></i> </span>
                        <span><i class="fa fa-twitter"></i> <i class="fa fa-user-plus"></i></span>
                        <span><i class="fa fa-facebook"></i> <i class="fa fa-user-plus"></i></span>
                    </div>
                    <a href="" class="site-btn">Devamını Gör <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="~/Content/Site/img/blog/4.jpg" alt="">
                    <h3>10 Tips for a great shot</h3>
                    <div class="blog-cata">
                        <span><i class="fa fa-instagram"></i> <i class="fa fa-user-plus"></i> </span>
                        <span><i class="fa fa-twitter"></i> <i class="fa fa-user-plus"></i></span>
                        <span><i class="fa fa-facebook"></i> <i class="fa fa-user-plus"></i></span>
                    </div>
                    <a href="" class="site-btn">Devamını Gör <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="~/Content/Site/img/blog/5.jpg" alt="">
                    <h3>Photography cousrses 101</h3>
                    <div class="blog-cata">
                        <span><i class="fa fa-instagram"></i> <i class="fa fa-user-plus"></i> </span>
                        <span><i class="fa fa-twitter"></i> <i class="fa fa-user-plus"></i></span>
                        <span><i class="fa fa-facebook"></i> <i class="fa fa-user-plus"></i></span>
                    </div>
                    <a href="" class="site-btn">Devamını Gör <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="~/Content/Site/img/blog/6.jpg" alt="">
                    <h3>New Lifestyle event</h3>
                    <div class="blog-cata">
                        <span><i class="fa fa-instagram"></i> <i class="fa fa-user-plus"></i> </span>
                        <span><i class="fa fa-twitter"></i> <i class="fa fa-user-plus"></i></span>
                        <span><i class="fa fa-facebook"></i> <i class="fa fa-user-plus"></i></span>
                    </div>
                    <a href="" class="site-btn">Devamını Gör <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="~/Content/Site/img/blog/7.jpg" alt="">
                    <h3>10 Tips for a great shot</h3>
                    <div class="blog-cata">
                        <span><i class="fa fa-instagram"></i> <i class="fa fa-user-plus"></i> </span>
                        <span><i class="fa fa-twitter"></i> <i class="fa fa-user-plus"></i></span>
                        <span><i class="fa fa-facebook"></i> <i class="fa fa-user-plus"></i></span>
                    </div>
                    <a href="" class="site-btn">Devamını Gör <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="~/Content/Site/img/blog/8.jpg" alt="">
                    <h3>Photography cousrses 101</h3>
                    <div class="blog-cata">
                        <span><i class="fa fa-instagram"></i> <i class="fa fa-user-plus"></i> </span>
                        <span><i class="fa fa-twitter"></i> <i class="fa fa-user-plus"></i></span>
                        <span><i class="fa fa-facebook"></i> <i class="fa fa-user-plus"></i></span>
                    </div>
                    <a href="" class="site-btn">Devamını Gör <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="blog-post">
                    <img src="~/Content/Site/img/blog/9.jpg" alt="">
                    <h3>New Lifestyle event</h3>
                    <div class="blog-cata">
                        <span><i class="fa fa-instagram"></i> <i class="fa fa-user-plus"></i> </span>
                        <span><i class="fa fa-twitter"></i> <i class="fa fa-user-plus"></i></span>
                        <span><i class="fa fa-facebook"></i> <i class="fa fa-user-plus"></i></span>
                    </div>
                    <a href="" class="site-btn">Devamını Gör <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog section end  -->