
@{
    ViewBag.Title = "BrandImage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<InflucerEntity.Entity.tblBrandImage>
<form method="post">
    <div class="card-box mb-30">
        <h2 class="h4 pd-20">Marka Resim Listele</h2>
        <table class="data-table table nowrap">
            <thead>
                <tr>
                    <th>BrandImagePath</th>
                    <th>BrandID</th>
                    <th>LastDateTime</th>
                    <th>Aktif Durumu</th>
                    <th class="datatable-nosort">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.BrandImagePath.EndsWith(".PNG") || item.BrandImagePath.EndsWith(".JPG") || item.BrandImagePath.EndsWith(".JPEG") || item.BrandImagePath.EndsWith(".GIF") || item.BrandImagePath.EndsWith(".TIFF") || item.BrandImagePath.EndsWith(".jpg") || item.BrandImagePath.EndsWith(".png") || item.BrandImagePath.EndsWith(".jpeg") || item.BrandImagePath.EndsWith(".tiff") || item.BrandImagePath.EndsWith(".gif"))
                        {
                            <td><img src="~/Image/Brands/@item.BrandImagePath" width="150" /></td>
                        }
                        else if (item.BrandImagePath.EndsWith(".avi") || item.BrandImagePath.EndsWith(".AVI") || item.BrandImagePath.EndsWith(".mp4") || item.BrandImagePath.EndsWith(".MP4") || item.BrandImagePath.EndsWith(".mov") || item.BrandImagePath.EndsWith(".MOV") || item.BrandImagePath.EndsWith(".flv") || item.BrandImagePath.EndsWith(".FLV") || item.BrandImagePath.EndsWith(".mpg") || item.BrandImagePath.EndsWith(".MPG"))
                        {
                            <td>
                                <video width="150" height="150" controls>
                                    <source src="~/Image/Brands/@item.BrandImagePath" type="video/mp4">
                                </video>
                            </td>
                        }
                        <td>@item.BrandID</td>
                        <td>@item.LastDateTime.ToString("dd:MM:yyyy")</td>
                        @if (item.IsActive == true)
                        {
                            <td><span class="badge badge-success"><i class="fa fa-check"></i> Aktif</span></td>
                        }
                        else
                        {
                            <td><span class="badge badge-danger"><i class="fa fa-remove"></i> Pasif</span></td>
                        }
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" href="/Admin/BrandImage/UpdateBrandImage/@item.ID"><i class="dw dw-edit2"></i> Güncelle</a>
                                    <a class="dropdown-item" onclick="return confirm('Silmek istediğinize eminmisiniz ?')" href="/Admin/BrandImage/DeleteBrandImage/@item.ID"><i class="dw dw-delete-3"></i> Sil</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>


