
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Not Found/Hata - Influencer Ajans/Agency</title>
    <link href="css/bootstrap.css" rel="stylesheet"><!-- Custom styles for this template -->
    <!-- Custom styles for this template -->
    <link href="~/Content/Error/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 404</h1>
                <h2>Oops... Page Not Found!</h2>
                <p>Bir hata yaptınız, bu yüzden hata sayfasına geldiniz, siteye geri dönmek için burayı tıklayın.<a href="/tr">ANASAYFA</a></p>
                <p>You made a mistake, so you came to the error page, click here to go back to the site.<a href="/en">HOME</a></p>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; 2021 All Rights Reserved <a href="https://influencerajans.com/" target="_blank">INFLUENCER AJANS /AGENCY</a>
                </div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/Error/js/jquery.js"></script>
    <script src="~/Content/Error/js/bootstrap.js"></script>
</body>
</html>
