
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderAction("TRPartialSliderList", "Anasayfa");
}

<!-- Services section  -->
@{
    Html.RenderAction("TRPartialServiceList", "Anasayfa");
}
<!-- Services section end  -->
<!-- About section  -->
@{
    Html.RenderAction("TRPartialAbout", "Anasayfa");
}
<!-- About section end  -->
<!-- Portfolio section  -->
<div class="icerik mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="services-item">
                                <img src="~/Content/Site/cubes.png" width="75" />
                                <h4 class="baslik">Özgün ve Kaliteli İşler</h4>
                                <p class="aciklama">Fark yaratmayan her iş, sıradan olmaya mahkumdur. Sıradanlıktan kurtularak, büyük - küçük demeden yaptığı her işte fark yaratmayı amaçlayan yaratıcı ekibimiz başarının anahtarının özgünlükten geçtiğini çok iyi biliyor. </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-item">
                                <img src="~/Content/Site/users-icon.png" width="75" />
                                <h4 class="baslik">Uzman Kadro</h4>
                                <p class="aciklama">Kişisel yetkinlik her alanda başarı getirir. Online dünyanın ortaya çıkışından itibaren sektörünün öncü kurumsal şirketlerinde dijital dünyayı yönetmek için görev yapan ekibimiz, bu bilgi birikimini artık Influencer Ajans'ın müşterileri için kullanıyor.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-item">
                                <img src="~/Content/Site/barchart.png" width="75" />
                                <h4 class="baslik">Anatilik Düşünce Yapısı</h4>
                                <p class="aciklama">Rakamlar bazen kelimelerden daha çok şey ifade eder. Dijital dünyanın rakamların çevresinde oluştuğunu biliyor ve her ay detaylı olarak yaptığımız analizlerle işimizi analitik olarak anlatıyoruz. Aylar arasında karşılaştırma yapmanızı sağlayacak bu raporlama dijital dünyanın neresinde olduğunuzu gösterecek.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderAction("TRPartialOurSolitionPartnerList", "Anasayfa");
}
<!-- Portfolio section end  -->
