
@{
    ViewBag.Title = "Brand";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<Influencer.Entities.Entity.Brand>
<form method="post">
    <div class="card-box mb-30">
        <h2 class="h4 pd-20">Marka Listele</h2>
        <table class="data-table table nowrap">
            <thead>
                <tr>
                    <th>İsim</th>
                    <th>Logo</th>
                    <th>Son Güncelleme Tarihi</th>
                    <th>Aktif Durumu</th>
                    <th class="datatable-nosort">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Name</td>
                    @if (item.LogoPath.EndsWith(".PNG") || item.LogoPath.EndsWith(".JPG") || item.LogoPath.EndsWith(".JPEG") || item.LogoPath.EndsWith(".GIF") || item.LogoPath.EndsWith(".TIFF") || item.LogoPath.EndsWith(".jpg") || item.LogoPath.EndsWith(".png") || item.LogoPath.EndsWith(".jpeg") || item.LogoPath.EndsWith(".tiff") || item.LogoPath.EndsWith(".gif"))
                    {
                        <td><img src="~/Image/Brands/@item.LogoPath" width="150" /></td>
                    }
                    else if (item.LogoPath.EndsWith(".avi") || item.LogoPath.EndsWith(".AVI") || item.LogoPath.EndsWith(".mp4") || item.LogoPath.EndsWith(".MP4") || item.LogoPath.EndsWith(".mov") || item.LogoPath.EndsWith(".MOV") || item.LogoPath.EndsWith(".flv") || item.LogoPath.EndsWith(".FLV") || item.LogoPath.EndsWith(".mpg") || item.LogoPath.EndsWith(".MPG"))
                    {
                        <td>
                            <video width="150" height="150" controls>
                                <source src="~/Image/Brands/@item.LogoPath" type="video/mp4">
                            </video>
                        </td>
                    }
                    <td>@item.LastDateTime.ToString("dd:MM:yyyy")</td>
                    @if (item.IsActive == true)
                    {
                        <td><span class="badge badge-success"><i class="fa fa-check"></i> Aktif</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-danger"><i class="fa fa-remove"></i> Pasif</span></td>
                    }
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" href="/Admin/Brand/UpdateBrand/@item.ID"><i class="dw dw-edit2"></i> Güncelle</a>
                                <a class="dropdown-item" onclick="return confirm('Silmek istediğinize eminmisiniz ?')" href="/Admin/Brand/DeleteBrand/@item.ID"><i class="dw dw-delete-3"></i> Sil</a>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>

