
@{
    ViewBag.Title = "TR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                @{
                    Html.RenderAction("PartialContact", "Iletisim");
                }
            </div>
            <div class="col-lg-8">
                <form class="contact-form" action="/tr/basvuru-formu" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="mb-2">Adınız</label>
                            <input type="text" name="Name" required>
                        </div>
                        <div class="col-lg-6">
                            <label class="mb-2">Soyadınız</label>
                            <input type="text" name="Surname" required>
                        </div>
                        <div class="col-lg-6">
                            <label class="mb-2">Yaşadığınız İl</label>
                            <input type="text" name="City" required>
                        </div>
                        <div class="col-lg-6">
                            <label class="mb-2">Yaşadığınız İlçe</label>
                            <input type="text" name="District" required>
                        </div>
                        <div class="col-lg-6">
                            <label class="mb-2">Özgeçmiş (.pdf)</label>
                            <input type="file" name="FilePath" required>
                        </div>
                        <div class="col-lg-6">
                            <label class="mb-2">Konu</label>
                            <select class="form-control" name="Subject" required>
                                <optgroup label="Lütfen Konu Seçiniz">
                                    <option value="Genel İş Başvurusu">Genel İş Başvurusu</option>
                                    <option value="Sosyal Medya Uzmanı">Sosyal Medya Uzmanı</option>
                                    <option value="Grafik Tasarım Uzmanı">Grafik Tasarım Uzmanı</option>
                                    <option value="Dijital Pazarlama Uzmanı">Dijital Pazarlama Uzmanı</option>
                                    <option value="Menajerlik Başvurusu">Menajerlik Başvurusu</option>
                                    <option value="Influencer Başvurusu">Influencer Başvurusu</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-12 mb-5">
                            <label class="mb-2">Mesaj</label>
                            <textarea class="text-msg" name="Content"></textarea>
                            <button class="site-btn" type="submit">Mesaj Gönder</button>
                        </div>
                        @if (ViewBag.Mesaj != null)
                        {
                            <div class="col-lg-12">
                                <p class="alert alert-info">@ViewBag.Mesaj</p>
                            </div>
                        }
                        @if (ViewBag.Hata != null)
                        {
                            <div class="col-lg-12">
                                <p class="alert alert-danger">@ViewBag.Hata</p>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end  -->